*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.container{
    display:grid;
    grid-template: minmax(150px,20vh) 1fr/ minmax(min-content,18vw) 1fr;
}

.sidebar{
    grid-area:1/1/3/2;
    background-color: #451a03;
    padding:20px 10px 10px 20px;
    min-width: 200px;
    color: white;
}

.sidebar h1{
    display: flex;
    gap:10px;
}

.sidebar img{
    background-color: white;
    justify-content: center;
}

.sidebar ul{
    list-style-type: none;
    display:grid;
    grid-template: 50px 70% 1fr/1fr;
}

.sidebar ul li{
    margin-bottom:15px;
}

.sidebar .utils{
    grid-area:2/1/3/2;
}

.dividers{
    grid-area:3/1/-1/2;
}

.header{
    grid-area:1/2/2/-1;
    background-color: #fef3c7;
    padding:20px 30px 20px 30px;
    display:grid;
    grid-template-rows: 1fr 1fr;
    gap:20px;
    padding:20px;
    position: relative;
    z-index: 1;
    box-shadow: 0px 3px 5px #451a03;
}

.search{
    display:flex;
    flex-direction: row;
    align-items: center;
    gap:20px;
}

.search input{
    margin-right:auto;
    width: 500px;
    height: 25px;
    border-radius: 20px;
    border: none;
    flex: 1 1 1;
    background-color: #7C5E4E;
    color: white;
    padding-left: 10px;
}

button:first-child{
    background-color: #451a03;
    color: white;
    border-radius: 5px;
    width:60px;
    height:20px;
}

.search button{
    border: none;
    background-color: none;
}

.header .utils{
    display:flex;
    flex-direction: row;
    align-items: center;
    gap:30px;
}

.utils button{
    width:100px;
    height:30px;
    border-radius: 30px;
    border: none;
    background-color: #451a03;
    color: white;
}

.profile{
    margin-right:auto;
    display:flex;
    flex-direction: column;
}

.main{
    grid-area:2/2/-1/-1;
    display:grid;
    grid-template: 1fr 1fr/ 2fr 1fr;
    background-color: #fde68a;
    min-height:80vh;
    padding:20px;
}

.projects{
    grid-area:1/1/-1/2;
}

.project-cards{
    display:grid;
    margin:20px;
    grid-template-columns: repeat(auto-fit,minmax(350px, 1fr));
    gap:15px;
}

.cards{
    width: 350px;
    min-height:200px;
    border: 1px solid black;
    background-color: #fef3c7;
    border: none;
    border-left: 15px solid #451a03;
    border-radius: 8px;
    padding:10px;
    position: relative;
}

.cards .text p{
    color: #7c2d12;
    margin-top:10px;
}

.cards .text h4{
    color: #451a03;
}

.cards .icons{
    margin-top:auto;
    position: absolute;
    top:160px;
    display:flex;
    gap:20px;
    left:200px;
}

.announcements{
    grid-area:1/2/2/-1;
    /* display: grid;
    grid-template-rows: 1em 1fr;
    grid-template-columns: 1fr; */
}

.announcements-card{
    background: #fef3c7;
    border-radius: 10px;
    min-height: 300px;
    margin-top:10px;
    padding:20px;
    box-shadow: 2px 2px 5px #451a03;
}

.divider{
    border-top: 2px solid black;
    padding-bottom: 5px;
}

.announcements h3{
    margin-bottom: 10px;
}

.announcements p{
    margin-bottom: 10px;
    margin-top:5px;
}

.trending{
    grid-area:2/2/-1/-1;
}

.trending-cards{
    background: #fef3c7;
    border-radius: 10px;
    width:auto;
    min-height:300px;
    margin-top:10px;
    padding:20px;
    box-shadow: 2px 2px 5px #451a03;
}

.trending-cards img{
    border-radius: 50%;
}

.card .text{
    display:flex;
    flex-direction: column;
    gap:5px;
    margin-top: 10px;
}

.card{
    display:flex;
    gap: 20px;
    margin:20px;
}